.animation {
  display: flex;
  flex-direction: row;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: #ecebeb;
}

nav {
  width: 100%;
  height: 70px;
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav h1 {
  font-size: 30px;
  font-weight: bold;
  margin-left: 170px;
  color: brown;
}

nav .list-of-items {
  display: flex;
  flex-direction: row;
  margin-right: 100px;
  color: #ecebeb;
}

nav .item {
  display: flex;
  margin-right: 40px;
  font-size: 18px;
}

nav a {
  text-decoration: none;
  color: #ecebeb;
}

nav a:hover {
  color: brown;
  text-shadow: 10px 10px 10px brown;
}

.main-info {
  background-image: url("img/ks.PNG");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 95vh;
}

.main-info .cont {
  background-color: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 100%;
}

footer {
  width: 100%;
  height: 60px;
  background-color: black;
  color: #ecebeb;
  margin-top: 65px;
  padding-top: 10px;
  display: flex;
  justify-content: space-around;
}

.freelesson {
  width: 200px;
  height: 100px;
  border: 1px solid black;
  background-color: #812929;
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: #ecebeb;
}

.freelesson a {
  text-decoration: underline;
}

.cont {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
}

.lessons {
  width: 0px;
  height: 300px;
  border: 1px solid black;
}

.about {
  max-width: 90%;
  height: 700px;
  margin: 0 auto;
}

.about h2 {
  font-size: 25px;
}

.about p {
  font-size: 25px;
}

.animation {
  width: 100%;
  height: 180vh;
  background-color: #ecebeb;
  flex-wrap: wrap;
  justify-content: center;
}

.animation .block {
  width: 49%;
  height: 60vh;
  transform: translateX(100%);
  transition: transform 1s ease;
}

.animation .block:nth-of-type(even) {
  transform: translateX(-200%);
  transform: none;
}

.animation .block.show {
  transform: translateX(0);
}

.block h1 {
  font-size: 110px;
  margin-top: 120px;
  text-align: center;
}

.block .age {
  font-size: 70px;
  margin-top: -90px;
  text-align: center;
}

.block .img {
  background-image: url("img/kidspainting.jpg");
}
